<div class="container">
<div class="row">
<%= ::Temple::Utils.escape_html((render 'overview_card')) %>

<div class="col-md-6">
<% if @tournament.registration_open? || @current_user_player
if @current_user_player
 %><div class="card">
<div class="card-header">
<div class="d-flex justify-content-between">
<h5 class="mb-0">My Registration Information</h5>
<% _slim_controls1 = link_to registration_tournament_path(@tournament), title: 'Edit', class: 'float-right' do %><% _slim_controls2 = ''; 
; _slim_controls2 << ((::Temple::Utils.escape_html((fa_icon 'edit'))).to_s); 
; _slim_controls2 << (" ".freeze); _slim_controls2 << ("Edit".freeze); 
; _slim_controls2 %><% end %><%= ::Temple::Utils.escape_html((_slim_controls1)) %></div></div><ul class="list-group list-group-flush">
<li class="list-group-item">
<div class="small text-secondary">Name:</div>
<%= ::Temple::Utils.escape_html((@current_user_player.name_with_pronouns)) %>
</li><li class="list-group-item">
<div class="small text-secondary">Corp ID:</div>
<%= ::Temple::Utils.escape_html((render @current_user_player.corp_identity_object)) %>
</li><li class="list-group-item">
<div class="small text-secondary">Runner ID:</div>
<%= ::Temple::Utils.escape_html((render @current_user_player.runner_identity_object)) %>
</li><li class="list-group-item">
<div class="small text-secondary">First Round Bye:</div>
<% if @current_user_player.first_round_bye
 %><div class="badge badge-success">YES</div>
<% else
 %><div class="badge badge-secondary">NO</div>
<% end %></li><% if @tournament.allow_streaming_opt_out?
 %><li class="list-group-item">
<div class="small text-secondary">Stream my games:</div>
<% if @current_user_player.include_in_stream?
 %><div class="badge badge-success">YES</div>
<% else
 %><div class="badge badge-secondary">NO</div>
<% end %></li><% end %></ul></div><% else
if current_user
 %><div class="card alert alert-secondary">
<% unless @current_user_dropped
 %><h5 class="card-title">Register for this Event</h5>
<% _slim_controls3 = simple_form_for :player, url: tournament_players_path(@tournament) do |f| %><% _slim_controls4 = ''; 
; _slim_controls4 << ((::Temple::Utils.escape_html((render 'players/form', f: f, default_name: current_user.nrdb_username, new_registration: true))).to_s); 
; _slim_controls4 << ("<div".freeze); _slim_controls4 << (" class=\"".freeze); _slim_controls4 << ("text-right".freeze); _slim_controls4 << ("\"".freeze); _slim_controls4 << (">".freeze); 
; _slim_controls5 = button_tag type: :submit, class: 'btn btn-primary' do; _slim_controls6 = ''; 
; _slim_controls6 << ((::Temple::Utils.escape_html((fa_icon 'user-plus'))).to_s); 
; _slim_controls6 << (" ".freeze); if @tournament.nrdb_deck_registration?
; _slim_controls6 << ("Deck Registration".freeze); 
; else
; _slim_controls6 << ("Register".freeze); 
; end; _slim_controls6; end; _slim_controls4 << ((::Temple::Utils.escape_html((_slim_controls5))).to_s); _slim_controls4 << ("</div>".freeze); _slim_controls4 %><% end %><%= ::Temple::Utils.escape_html((_slim_controls3)) %><% else
 %><h5 class="card-title">Rejoin this Event</h5>
<% if @current_user_is_running_tournament
 %><p>
You can re-instate yourself on the
 <% _slim_controls7 = link_to tournament_players_path(@tournament) do %><% _slim_controls8 = ''; 
; _slim_controls8 << ("Players".freeze); 
; _slim_controls8 %><% end %><%= ::Temple::Utils.escape_html((_slim_controls7)) %> tab.
</p><% else
 %><p>Talk to a Tournament Organiser to rejoin the event</p>
<% end; end %></div><% else
 %><div class="card alert alert-warning">
<div class="card-body">
<h5 class="card-title">Register for this Event</h5>
<p class="mb-1">You must be logged in to register for this tournament:</p>
<% _slim_controls9 = link_to login_path(:return_to => request.path), class: 'alert-link' do %><% _slim_controls10 = ''; 
; _slim_controls10 << ((::Temple::Utils.escape_html((fa_icon 'sign-in'))).to_s); 
; _slim_controls10 << (" ".freeze); _slim_controls10 << ("Sign in".freeze); 
; _slim_controls10 %><% end %><%= ::Temple::Utils.escape_html((_slim_controls9)) %><p class="mt-4 mb-1">
Don't have an account? Register with NetrunnerDB, then return to Cobra to login:
</p><% _slim_controls11 = link_to 'https://netrunnerdb.com/register/', class: 'alert-link' do %><% _slim_controls12 = ''; 
; _slim_controls12 << ("<span".freeze); _slim_controls12 << (" class=\"".freeze); _slim_controls12 << ("icon".freeze); _slim_controls12 << (" ".freeze); _slim_controls12 << ("icon-link".freeze); _slim_controls12 << ("\"".freeze); _slim_controls12 << (">".freeze); 
; _slim_controls12 << ("</span>".freeze); _slim_controls12 << ("&nbsp;Create NRDB account".freeze); 
; 
; _slim_controls12 %><% end %><%= ::Temple::Utils.escape_html((_slim_controls11)) %></div></div><% end; end; end %></div></div><%= ::Temple::Utils.escape_html((render 'player_counts')) %>
</div>
