<div class="col-12">
<p class="dontprint"><% _slim_controls1 = link_to standings_tournament_players_path(@tournament), class: 'btn btn-primary' do %><% _slim_controls2 = ''; 
; _slim_controls2 << ((::Temple::Utils.escape_html((fa_icon 'arrow-left'))).to_s); 
; _slim_controls2 << (" ".freeze); _slim_controls2 << ("Back to standings".freeze); 
; 
; _slim_controls2 %><% end %><%= ::Temple::Utils.escape_html((_slim_controls1)) %></p></div><input id="corp_deck_name" type="hidden" value="<%= ::Temple::Utils.escape_html((@player.corp_deck&.name)) %>" />
<input id="runner_deck_name" type="hidden" value="<%= ::Temple::Utils.escape_html((@player.runner_deck&.name)) %>" />
<input id="corp_deck" type="hidden" value="<%= ::Temple::Utils.escape_html((@player.corp_deck&.as_view(current_user).to_json)) %>" />
<input id="runner_deck" type="hidden" value="<%= ::Temple::Utils.escape_html((@player.runner_deck&.as_view(current_user).to_json)) %>" />
<div class="container">
<div class="row mb-2">
<div class="col">
<h4><%= ::Temple::Utils.escape_html((@player.name)) %></h4>
</div></div><div class="row" id="display_player_decks">
</div></div>
